# configurations
.idea
.vscode
.zed

# crawlee and apify storage folders
apify_storage
crawlee_storage
storage

# installed files
node_modules

# build output - rebuilt inside the image
dist
tsconfig.tsbuildinfo

# git folder
.git
